<div class="container" style="text-align: center; margin-bottom: 25px">
<h1>{{title}}</h1>
<br>


</div>
{{# if products }}
    <div class="container">
        <span style="padding-left: 590px; font-size: 25px;">  Quantity</span>

    </div>

    <div class="container" style="text-align: center">
    <div class="cart page">
        <ul class="list-group">
            {{# each products }}
                <li class="list-group-item clearfix">
                    <div class="col-xs-5">
                        <strong>{{ this.item.product_name }}</strong><br/>
                        <em>{{{this.item.gender}}}</em>
                    </div>
                    <div class="col-xs-2 text-right">
                        <span class="">{{ this.quantity }}</span>
                    </div>
                    <div class="col-xs-3 text-right">
                        {{ this.product_price }} $
                    </div>
                    <div class="col-xs-2 text-right">
                        <a href="/remove/{{this.item.id}}" class="btn btn-default"> Delete</a>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>


        <script>
            function discount() {
               const promo1 = 'jf10';
               const promo2 = 'pb70';
               const promo3 = 'kl44';
               let total = {{ totalPrice }}
                const dis1 = 7;
                const dis2 = 2;
                const dis3 = 12;
                const disco = document.getElementById('offer').value;
                if(disco == promo1){
                    total = total - dis1 ;
                    document.getElementById('off1').innerHTML = 'Offer jf10 Applied &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  '+' -'+dis1
                    document.getElementById('off').innerHTML ='Total Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; '+ total+'$'
                } else if(disco == promo2){
                    total = total - dis2 ;
                    document.getElementById('off1').innerHTML = 'Offer pb70 Applied &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  '+' -'+dis2

                    document.getElementById('off').innerHTML = 'Total Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; '+total+'$'
                } else if(disco == promo3){
                    total = total - dis3 ;
                    document.getElementById('off1').innerHTML = 'Offer kl44 Applied &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  '+' -'+dis3

                    document.getElementById('off').innerHTML = 'Total Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; '+total+'$'
                }else {
                    document.getElementById('off').innerHTML = 'Invalid promo code'
                }

;
            }
        </script>





        <div style="padding-left: 500px">
        Promo Code:-
        <input type="text" id="offer" placeholder="Enter promo code here" />
        <input type="button" onclick="discount()" value="Apply offer" />
        </div>

        <div style="padding-left: 780px; margin-top: 40px;">
            <strong>Total: {{ totalPrice }} $</strong>
        </div>
        <div style="padding-left: 665px; margin-top: 10px;">
            <span id="off1"></span>
        </div>
        <div style="padding-left: 710px; margin-top: 10px;">
            <span id="off"></span>
        </div>


    <div style="padding-left: 1000px; margin-top: 120px;">
        <a href="#" type="button" class="btn btn-success">Checkout</a>
    </div>
        <div style="padding-left: 100px; margin-top: -40px;">
            <a href="/" type="button" class="btn btn-success">Home</a>
        </div>
    </div>

{{ else }}
    <div class="container">
        <span>You don't have any product in your cart</span>
    </div>

    <div style="padding-left: 100px; padding-top: 100px;  margin-top: -40px">
        <a href="/" type="button" class="btn btn-success">Home</a>
    </div>
{{/if}}
